body{
    background-color: beige;
}
.stopwatch {
    text-align: center;
    margin: 40px auto;
    background-color: rgba(0, 255, 255, 0.148);
    width: 30vw;
    height: 20vh;
    border-radius: 10px;
}

#time {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: black;
    color: white;
    
}

button:disabled {
    cursor: not-allowed;
}